.forgot-password-image{
    -fx-background-image: url("../../assets/images/forgot-password.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.forgot-password-container{
    -fx-background-color: white;
    -fx-alignment: center;
}
.forgot-password-form-container{
    -fx-max-width: 600;
    -fx-spacing: 20;
}
.title-form{
    -fx-font-size: 50;
    -fx-text-fill: -color-primary;
    -fx-font-family: ArchivoBlackRegular;
}
.subtitle-form{
    -fx-text-fill: -color-light;
}
.input-label{
    -fx-text-fill: -color-primary;
    -fx-font-weight: bold;
}
.input-form{
    -fx-padding: 10;
}
.cancel-button{
    -fx-background-color: -color-danger;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-padding: 8;
    -fx-cursor: hand;
}
.forgot-button{
    -fx-background-color: -color-primary;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-padding: 8;
    -fx-cursor: hand;
}