.title-section {
    -fx-font-size: 25;
    -fx-text-fill:  -color-light;
    -fx-font-weight: bold;
}

.description-module {
    -fx-font-size: 18;
    -fx-text-fill:  -color-light;
}

.description-liberate{
    -fx-text-fill: -color-light;
    -fx-font-size: 10;
}