.main-section-container {
    -fx-padding: 30 80 30 80;
}

.title-section {
    -fx-font-size: 25;
    -fx-text-fill:  -color-light;
    -fx-font-weight: bold;
}

.button-create-user {
    -fx-background-color: -color-primary;
    -fx-text-fill: white;
    -fx-padding: 8;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.icon-add {
    -fx-icon-color: white;
    -fx-icon-size: 20;
}

.table-container {
    -fx-padding: 30 0 0 0;
}

.edit-button{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.edit-button-icon{
    -fx-icon-color: -color-primary;
    -fx-icon-size: 20;
}