.info-module-container {
    -fx-padding: 20;
    -fx-spacing: 3;
}

.title-module {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: -color-primary;
}

.description-module {
    -fx-font-size: 18;
    -fx-text-fill:  -color-light;
}